* {
  margin: 0;
  padding: 0.3rem 0rem;
}

:root {
  --main-text-color: #47b0bd;
  --modal-back-color: #949b9c;
}


.card-block{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  justify-content: flex-start;
  padding-left: 10px;
}

.card{
  width: 270px;
  background: radial-gradient(118.88% 606.86% at 0% 0%, rgba(36, 197, 219, 0.15) 0%, rgba(36, 197, 219, 0) 100%);
  backdrop-filter: blur(6px);
  border: 1px solid #24C5DB;
  border-radius: 30px;
  padding-left: 10px;
  margin: 5px 7px;
  cursor: pointer;
  transition: 0.8s all;
}

.card-title{
  width: 100%;
  font-size: 1rem;
}

.card-img{
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.card-descr{
  display: flex;
  flex-direction: column;
}

.center {
  margin: 0 auto;
  margin-top: 20px;
}

p, ul {
  color: var(--main-text-color);
  list-style-type: none;
  font-weight: 700;
}

span {
  padding-left: 1rem;
  font-weight: 500;
}

li {
  font-weight: 500; 
}