:root {
  --main-text-color: #47b0bd;
  --modal-back-color: #949b9c;
}

.modal {
  position: absolute;
  top: 10%;
  margin: 0 auto;
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-text-color);
  background-color: var(--modal-back-color);
  z-index: 100;
}

.modal .modal__close-button {
  position: absolute;
  top: 16px;
  right: 16px;
}